@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .series {
    background: rgba(243, 244, 246, 0.5);
    backdrop-filter: blur(1px);
  }

  .active {
    background: rgba(190, 18, 60, 0.1);
    padding: 7px 0;
  }
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #be123c; /* redish */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
